Source: ifstat
Priority: optional
Maintainer: Gaël Roualland <gael.roualland@dial.oleane.com>
Build-Depends: debhelper (>> 3.0.0), libsnmp-dev | libsnmp5-dev, libssl-dev
Standards-Version: 3.5.2

Package: ifstat
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Description: InterFace STATistics Monitoring
 ifstat is a tool to report network interfaces bandwith just like 
 vmstat/iostat do for other system counters. It can monitor local
 interfaces by polling the kernel counters, or remote hosts 
 interfaces using SNMP. 

Package: libifstat-dev
Section: devel
Architecture: any
Depends: libsnmp-dev
Description: Ifstat Development Files
 Static library, header and config file to include ifstat 
 functionality in other applications.

