Source: ifstat
Section: net
Priority: optional
Maintainer: Goswin von Brederlow <goswin-v-b@web.de>
Build-Depends: debhelper (>= 9), libsnmp-dev
Standards-Version: 3.7.2.2

Package: ifstat
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: InterFace STATistics Monitoring
 ifstat is a tool to report network interfaces bandwidth just like 
 vmstat/iostat do for other system counters. It can monitor local
 interfaces by polling the kernel counters, or remote hosts 
 interfaces using SNMP. 

Package: libifstat-dev
Section: libdevel
Architecture: any
Depends: libsnmp-dev
Description: Ifstat Development Files
 Static library, header and config file to include ifstat 
 functionality in other applications.

